html {
     width: 200px;
}
 body {
     text-align: center;
     padding-right: 15px;
     padding-left: 15px;
     padding-bottom: 15px;
}

.red {
  color: red;
}

#testIpButton {
     margin-top: 10px;
     font-size: 14px;
     padding: 10px;
     border-radius: 5px 5px 5px 5px;
     text-decoration: none;
     color: black;
     background-color: white;
     border: 2px solid black;
}
 #testIpButton:hover {
     background-color: #e6e6e6;
     cursor: pointer;
}
 #ipAddress {
     font-size: 16px;
     margin-top: 10px;
     margin-bottom: 10px;
}
 #result {
     font-size: 14px;
}
 #resultsTable {
     width: 100%;
}
